{% block header %}
    {% include  'header.html' %}
{% endblock header %}

{% load static %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Forgot password</h2>
          <ol>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li>Forgot password</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section id="contact" class="contact">
      <div class="container">



        <div class="row mt-5 justify-content-center" data-aos="fade-up">
          <div class="col-lg-10">  
           <form action="" method="post" role="form" >
              {% csrf_token %}
              <div class="form-group mt-3">
                <div class="col-md-6 form-group">
                {% include 'message.html' %}
                    <label class="info-title">Name</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
              </div>

            <div class="form-group mt-3">
                Goto Login ! <a href="{% url 'login' %}"> Login</a>
            </div>

            <div class="form-group mt-3">  
              <div class="col-md-6 form-group">
                <button type="submit" class="btn btn-success">submit</button>
              </div>
            </div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  
{% block footer %}
    {% include  'footer.html' %}
{% endblock footer %}